.settingPanel {
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.settingPanel button {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 2px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0;
    cursor: pointer;
}

button.navs {
    font-weight: bold;
    background: #2B5278;
    padding: 0 5px;
}

button.navs svg{
    color: #fff;
}

button.navs:disabled {
    background: lightgray;
}

.settingPanel button.active{
    background: #2B5278;
    color: white;
}

.itemWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

}

.item {
    position: relative;
    padding: 8px;
    text-align: center;
    padding-bottom: 40px;
    width: calc(33%);
    margin-top: 4px;

}

.item a {
    text-decoration: none;
}

.option {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding: 10px;
    background: #fff;
}


.option button {
    border-radius: 0px;
}

@media (max-width: 635px) {
    .item{
        width: 49.5%;
    }

    .settingPanel, .option {
        box-sizing: border-box;
        margin: 0;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 998;
        width: 100%;
    }

    .option {
        top: 45px;
    }
    .itemWrap{
        margin-top: 102px;
    }

    .settingPanel button{
        margin-bottom: 5px;
    }

}

.item button{
    bottom: 8px;
    left: 54px;
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid silver;
    outline: none;
    background: none;
    cursor: pointer;
}

.item .buttons {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.name h2{
    word-wrap: break-word;
    font-size: 1.5em;
    font-weight: bold;
    color: #1890ff;
    line-height: 1.1;
    margin-bottom: 10px;
}

.status {
    word-wrap: break-word;
    margin: 7px 0;
    top: 0;
}



