.wrap {

}

.settingPanel {
    text-align: center;
    background: #fff;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid lightgray;


}


.settingPanel button {
    box-sizing: border-box;
    width: 30px;
    height: 30px;

    margin: 5px 2px;
    color: #fff;
 
    border: none;
    outline: none;
    background: lightgray;
    border-radius: 0;
    cursor: pointer;
}

button.navs {
    font-weight: bold;
    background: #2B5278;
    color: #fff;
    padding: 0 5px;
    width: 50px;

}
button.navs:disabled {
    background: lightgray;
}


.settingPanel button.active{
    background: #2B5278;
    color: white;
}

.itemWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    position: relative;
    width: 32.4%;
    background: #fff;
    padding: 8px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 40px;

}

@media (max-width: 635px) {
    .item{
        width: 100%;


    }


    .settingPanel {
        height: 83px;
        overflow-x: scroll;
    }

    .settingPanel button{
        margin-bottom: 5px;
    }


}

.item button{

    bottom: 10px;
    left: 54px;


    padding: 5px 14px;
    border-radius: 20px;
    border: 1px solid silver;
    outline: none;
    background: none;
}

.item .buttons {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;


}

.content {
}

.name h2{
    word-wrap: break-word;
    font-size: 1.5em;
    font-weight: bold;
    color: #2B5278;
    line-height: 1.1;
}

.status {
    word-wrap: break-word;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.location{
    margin-bottom: 10px;
    color: #2B5278;
    font-size: 0.8em;
    color: grey;

}



button.follower{
    border: 1px solid #2B5278;
    color: #fff;
    background: #2B5278;
}

.getUsers {
    outline: none;
    background: #2B5278;
    color: #ffffff;
    padding: 7px 13px;
    border: none;

}
