
.button{
  padding: 7px;
  font-size: 15px;
  outline: none;
  border: none;
  color: #39383A;
  background: none;

}

.item img{
  width: 70px;
  border-radius: 50%;

}

.newpost {
  margin-top: 10px;
  padding: 10px;
  /*border:1px solid lightgray;*/
}


newpost textarea::-webkit-scrollbar {
  background: #F4F4F4;
  width: 4px;
}

newpost textarea::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 3px;
}


.newpost textarea {
  width: 100%;
  border: none;
  resize: none;
  height: auto;
  overflow-y: none;
  outline: none;
  padding: 5px;
  max-height: 300px;
  min-height: 35px;
  border-radius: 5px;
  font-family: Calibri, sans-serif;
}

.send {
  background: #2B5278;
  color: #fff;
}

.send svg {
  color: #fff;
  margin-right: 5px;
}

.send:disabled {
  background: lightgray;
}

.createnewpost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createnewpost span {
  font-weight: lighter;
}




@media (max-width: 635px){
  .newpost{
    margin-top: 1px;
  }

  .newpost textarea {
    max-height: 50px;
  }
}


@media (max-width: 635px) {
  .newpost input {
    width: 65%;
  }
}