.wrap h1 {
    font-weight: 400;
}

.wrap .item {
    border: 1px solid lightgray;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}

.wrap .item h2{
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 20px;
}

.LookingJob {
    margin-top: 10px;
}

.LookingJob input {
    margin-right: 5px;
}

.SubmitComtainer {
    height: 35px;
    margin-top: 10px;
}

.Send {
    padding: 7px 16px;
    outline: none;
    border: none;
    color: #2B5278;
    border: 1px solid #2B5278;
    background: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.Send:hover {
    background: #2B5278;
    color: #fff;
}

.Processing img {
    height: 30px;
    width: 30px;
}
