.wrap {

}

.item {
    padding: 10px 10px 20px 10px;
}

.formItem {
    margin-bottom: 4px;
}

.formItem label {
    color: gray;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons button {
    margin: 0 5px;
}

.tab {
    padding: 0px 10px;
    font-size: 1.5em;
    text-transform: uppercase;
}
