.wrap {

}

.wrap h1 {
    font-weight: 400;

}

.wrap .item {
    border: 1px solid lightgray;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}

.wrap .item h2{
    font-weight: 200;

    margin-bottom: 5px;
    font-size: 20px;
}
