.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
}

.headerWrap {
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.leftside {
    display: flex;
}

.leftside a {
    text-decoration: none;
}

.leftside h1 {
    font-weight: normal;
    font-size: 1.9em;
    font-weight: lighter;
    padding: 10px 0;
}

.leftside h1 svg {
    margin-right: 8px;
}

.rightside {
    display: flex;
    align-items: center;
}

.rightside .input {
    min-width: 220px;
    padding: 8px 0px 8px 5px;
    border-radius: 25px;
    margin-right: 20px;
}

.rightside input {
    border: none;
    outline: none;
    margin: 0 10px;
}

.rightside button {
    background: none;
    outline: none;
    border: none;
}

.rightside img {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.rightside .note {
    font-size: 20px;
    padding: 15px 5px;
}

.messages a {
    text-decoration: none;
}

.messages {
    position: relative;
}

.messages .newMessageCount{
    background: red;
    font-size: 0.5em;
    height: 19px;
    width: 19px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 4px;
}

.profile_avatar {
    padding: 15px 10px 15px 10px;
}

.rightside h3 {
    font-weight: normal;
    text-transform: none;
    display: inline;
    margin-left: 10px;
}

.logout {
    margin-left: 7px;
}

.logout svg {
    color: red!important;
}

.input {
    position: relative;
}

.Results {
    position: absolute;
    padding: 10px;
    border: 1px solid lightgray;
    top: 40px;
    min-width: 250px;
    border-radius: 5px;
    z-index: 99;
}

.Results a {
    text-decoration: none;
}

.Results .Item {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 8px 0;
}

.Results .Item>div {
    margin-left: 10px;
}

.Results .Item p {
    font-size: 13px;
}

.Results .Item h3 {
    padding: 5px 0;
    margin-left: 0;
    font-weight: 400;
    font-size: 20px;
}


@media (max-width: 640px) {
    header {
        margin: 0;
    }

    .headerWrap {
       display: none;
    }

    .messages .newMessageCount{
        top: -10px;
        left: 8px
    }

    .input {
        padding: 5px;
        display: flex;

    }

    .input button {
        background: none;
        outline: none;
        border: none;
        position: relative;
        left: -25px;
    }

    .Search{
       padding: 5px 3px;
        width: 100%;
        outline: none;
    }

    .Results {
        box-sizing: border-box;
        width: 95%;
        margin-top: 5px;
    }

    .Results .Item {
        display: flex;
        border-bottom: 1px solid lightgray;
        padding: 8px 0;
        margin: 5px;
    }

    .Results .Item img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}


