header {
    background: #fff;
    margin-bottom: 10px;
}

a {
    color: #474B59;
}

.headerWrap {
    color: #474B59;
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.leftside a {
    text-decoration: none;
}

.leftside h1 {
    font-weight: normal;
    font-size: 1.9em;
    font-weight: lighter;
    padding: 10px 0;
}

.leftside h1 svg {
    margin-right: 8px;
}

.rightside {
    display: flex;
    align-items: center;
}

.rightside .input {
    min-width: 220px;
    padding: 8px 0px 8px 5px;
    background: #F4F4F4;
    border-radius: 25px;
    margin-right: 20px;
}

.rightside input {
    border: none;
    outline: none;
    background: #F4F4F4;
    margin: 0 10px;
}

.rightside button {
    background: none;
    outline: none;
    border: none;
}

.rightside img {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.rightside .note {
    font-size: 20px;
    padding: 15px 5px;
}

.profile_avatar {
    padding: 15px 10px 15px 10px;
}

.rightside h3 {
    font-weight: normal;
    text-transform: none;
    display: inline;
    margin-left: 30px;
}

.adaptivemenu{
    display: none;
}

.logout {
    margin-left: 7px;
}

.input {
    position: relative;
}

.Results {
    position: absolute;
    background: #fff;
    padding: 10px;
    border: 1px solid lightgray;
    top: 40px;
    min-width: 250px;
    border-radius: 5px;
    z-index: 99;
}

.Results a {
    text-decoration: none;
}

.Results .Item {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 8px 0;
}

.Results .Item>div {
    margin-left: 10px;
}

.Results .Item p {
    font-size: 13px;
}

.Results .Item h3 {
    padding: 5px 0;
    margin-left: 0;
    font-weight: 400;
    font-size: 20px;
}

.adaptivemenu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    left: 0;
    bottom: 0;
    padding:15px;
    border-top: 1px solid lightgray;
    z-index: 999;
    display: none;
}

.adaptivemenu svg{
    font-size: 20px;
}

@media (max-width: 635px) {
    header {
        margin: 0;
    }

    .adaptivemenu{
        display: flex;
    }

    .headerWrap {
       display: none;
    }

    .logout svg {
        color: red;
    }
}


