footer{
  background: #fff;
  padding: 15px 30px;
  color: #39383A;
  margin-top: 15px;

}

h3{
  font-weight: normal;
  text-transform: uppercase;
}


.footerwrap{ 
  max-width: 960px;
  margin: 0 auto;
}

