.dialogWithUser ul {
    margin-top: 20px;
}

.dialogWithUser {
    background: #fff;
    border: 1px solid lightgray;
    flex-basis: 70%;
}

.dialogHeader h3 {
    font-weight: normal;
}

.createNewMessage {
    border-top: 1px solid lightgray;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.createNewMessage input {
    width: 70%;
    border: none;
    background: #fff;
    padding: 1px 5px;
    outline: none;
    margin-right: 55px;
}

.dialogHeader .Dialogavatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.dialogHeader .status {
    font-size: 11px;
}

.dialogHeader h3 {
    text-transform: none;
}

.dialogHeader{
    position: relative;
    background: #fff;
    padding: 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-weight: lighter;
}

.dialogHeader h3 {
    font-weight: lighter;
}

.backToDialogList{
    position: absolute;
    top: 25px;
    right: 10px;
}

.backToDialogList a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.backToDialogList svg {
    margin-right: 5px;
    font-size: 1em;
    font-size: 20px;
}

.backToDialogList span{
    font-size: 0.8em;
    text-transform: uppercase;
    color: grey;
}

.createNewMessage {
    display: flex;
}

.createNewMessage textarea {
    flex-grow: 1;
    padding: 1px 5px 0px 10px;
    border: none;
    outline: none;
    resize: none;
}

@media (max-width: 635px) {
    .createNewMessage input {
        width: 50%;
    }

    .createNewMessage {
        position: fixed;
        bottom: 53px;
        left: 0;
        width: 100%;
        background: #fff;
    }

    .dialogHeader {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        padding: 10px 7px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }

    .dialogHeader .Dialogavatar {
        height: 45px;
        width: 45px;

    }

    .dialogHeader h3 {
        font-size: 14px;
    }

    .backToDialogList {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .backToDialogList a {
        font-size: 11px;
    }

    .createNewMessage {
        border-top: 1px solid lightgray;
        padding: 4px;
        display: flex;
        justify-content: space-between;

    }
}


