.Login {
    
    flex-grow: 1;
}

.Form {
    background: #fff;
    padding: 30px 20px;
    border-top: 5px solid #2B5278;
    margin: 50px auto;
    max-width: 320px;
   
}

.Form h1 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.Form h2 {
    font-weight: lighter;
    margin-top: 10px;
}

.Form h1 svg {
    color: gray;
    margin-right: 5px;
    font-size: 30px;
}

.Input input {
   outline: none;
   border: 1px solid lightgray;
   padding: 10px 10px;
   width: 100%;
   
}

.Input {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.Input label {
    display: block;
    text-transform: uppercase;
    color: gray;
    margin: 15px 0px 10px 0px;
}

.Input label span {
    color: red;
    padding: 2px;
    font-size: 17px;
}

.RememberMe {
    padding: 10px 0;
}

.Error {
    color: #fff;
    background: red;
    padding: 8px 14px;
    margin: 10px 0;
}

.Form button{
    padding: 7px 16px;
   
   
    outline: none;
    border: none;
    color: #fff;
    background: #2B5278;
}

.Captcha {
    padding: 10px 0px;
}

.Captcha img {
    height: 70px;
    border: 1px solid lightgray;
}

.Captcha input {
    outline: none;
    border: 1px solid lightgray;
    padding: 10px 10px;

}

@media (max-width: 635px) {
    .Form {
        max-width: 100%;
    }
    .Login {
        background: #fff;
    }

    body {
        background: #fff;
    }


}