.Login {
    flex-grow: 1;
}

.Form {
    padding: 30px 0px;
    margin: 50px auto;
    max-width: 90%;

}

.Form h1 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 10px;
}

.Form h2 {
    font-weight: normal;
    margin-top: 10px;
}

.Form h1 svg {
    margin-right: 5px;
    font-size: 30px;
}

.Input input {
   outline: none;
   border: 1px solid lightgray;
   padding: 10px 10px;
   width: 100%;
}

.Input {
    padding-bottom: 10px;
}

.Input label {
    display: block;
    text-transform: uppercase;
    color: gray;
    margin: 15px 0px 10px 0px;
}

.Input label span {
    color: red;
    padding: 2px;
    font-size: 17px;
}

.Input svg {
    color: red!important;
}

.RememberMe {
    padding: 10px 0;
}

.Error {
    color: #fff;
    background: red;
    padding: 8px 14px;
    margin: 10px 0;
}

.Form button{
    padding: 12px 25px;
    margin-top: 20px;
    font-size: 15px;
    outline: none;
    border: none;
    color: #fff;
    background: #2B5278;
}

.Captcha {
    padding: 10px 0px;
}

.Captcha img {
    height: 70px;
    border: 1px solid lightgray;
}

.Captcha input {
    outline: none;
    border: 1px solid lightgray;
    padding: 10px 10px;

}

/*@media (max-width: 635px) {*/
/*    .Form {*/
/*        max-width: 100%;*/
/*        margin: 0;*/
/*    }*/
/*    .Login {*/
/*        width: 100%;*/
/*        position: fixed;*/
/*        bottom: 53px;*/
/*    }*/
/*}*/