*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body{
    font-family: Calibri, sans-serif;
    overflow-y: scroll;
    padding-top: 50px!important;
    line-height: 1;
}

.main-wrap{
    max-width: 960px;
    margin: 0px auto;
}

h1 {
    margin: 0;
}

.main-wrap main {
    box-sizing: border-box;
    margin: 0 10px;
    min-width: 320px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.preloader {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 875px) {
    .main-wrap{
        margin: 10px auto;
    }

    .main-wrap main {
        flex-basis: 100%;
        margin: 0;
    }
}

@media (max-width: 640px) {
    body{
        padding-top: 0px;
    }

    .main-wrap{
        margin: 0px auto;
    }
}

