body {
  margin: 0;
  font-family:  calibri, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 12px;
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: lightgray;
}

body.menu-open {
  overflow: hidden;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  border-radius: 0!important;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button svg {
  color: #fff;
}
