.logout svg {
    color: red!important;
}

.adaptivemenu{
    display: none;
}

.fullScreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    scroll-behavior: unset;
    z-index: 999;
}

.fullScreenWrap {
    padding: 50px;
}

.fullScreenWrap h2 {
    margin-bottom: 20px;
}

.closeFullScreen {
    position: absolute;
    right: 20px;
    top: 50px;
}

.fullScreenMenuItems > div {
    padding: 20px 15px;
    font-size: 1.3em;
}

.fullScreenMenuItems > div svg {
    margin-right: 10px;
}

.menu svg {
    color: #2B5278;
}



@media (max-width: 720px) {
    .adaptivemenu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 0;
        padding:15px;
        z-index: 999;
    }

    .adaptivemenu svg{
        font-size: 24px;
    }
}

.newMessageCount {
    font-size: 0.7em;
    background: red;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    z-index: 0;
    position: relative;
}

.newMessageCountAdaptiveMenu {
    top: -10px;
    left: -10px;
}

.newMessageCountFullscreenMenu {
    left: 10px;
    top: 8px;
}


.messages {
    display: flex;
}
