nav {
    margin: 0px 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

.navigation ul a {
     display: flex;
     justify-content: center;
     text-align: center;
     box-sizing: border-box;
     padding: 16px 15px;
}

.navigation  svg{
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 2px auto;
}

@media (max-width: 875px) {
    /*nav{*/
    /*    display: none;*/
    /*}*/
}



