nav {
    margin: 0px 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

.navigation ul a {
     display: flex;
     justify-content: center;
     text-align: center;
     box-sizing: border-box;
     padding: 16px 15px;
}

.navigation  svg{
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 2px auto;
}

.navigation h2 {
    background: #fff;
    border: 1px solid lightgray;
    padding: 10px 10px;
    font-weight: normal;
}

nav li span {
    font-size: 13px;
}

nav a{
    text-decoration: none;
}



